<div class="container text-left">
    <a class="anchor" id="accommodation"></a>
    <h1 class="text-center">Accommodation</h1>
    <h3>The Spa Hotel</h3>
    <p>If you are interested in staying at the Spa Hotel for the night of the wedding please call the hotel and reserve a room on 01892 520331, a deposit of £10 will be required when reserving the rooms.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Wedding Rates</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Room Type</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col my-auto text-center">
            But there are other hotels in the area if you wanted to do a little research around!
        </div>
    </div>
</div>

