<a class="anchor" id="accommodation"></a>
<div class="container pt-1 vh" style="display: table;">
    <div style="display:table-cell; vertical-align: middle;">
<div class="container text-center">
    <h1 class="text-center"><b>Accommodation</b></h1>
    <h1>The Spa Hotel</h1>
    If you are interested in staying at the Spa Hotel for the night of the wedding please call the hotel and reserve a room on <br>01892 520331<br> A deposit of £10 will be required when reserving the rooms.
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Wedding Rates</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Room Type</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Solo Traveller</td>
                        <td>£109</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="vertical-align: middle;">Cosy Deluxe Double or Twin</td>
                        <td>1 Person - £129</td>
                    </tr>
                    <tr>
                        <td>2 People - £170</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="vertical-align: middle;">Spacious Double or Twin</td>
                        <td>1 Person - £139</td>
                    </tr>
                    <tr>
                        <td>2 People - £190</td>
                    </tr>
                </tbody>
            </table>
            <div class="container text-center"><a href="https://www.spahotel.co.uk/stay-with-us" class="text-center">Book Here</a></div>
        </div>
        <div class="w-100"></div>
        <div class="col my-auto text-center">
            There are a number of other hotels very close by:
            <ul>
                <li><a href="https://www.travelodge.co.uk/hotels/354/Tunbridge-Wells-hotel">Travelodge Tunbridge Wells - 0.4 Miles</a></li>
                <li><a href="http://www.themountedgcumbe.com/">The Mount Edgcumbe - 0.5 Miles</a></li>
                <li><a href="https://thetunbridgewellshotel.com/">The Tunbridge Wells Hotel - 0.6 Miles</a></li>
                <li><a href="https://www.smith-western.co.uk/tunbridge-wells">The Smith & Western - 0.8 Miles</a></li>
            </ul>
        </div>
    </div>
</div>
    </div>
</div>
