{% load static %}

<div class="container bridal-party text-center">
    <a class="anchor" id="bridal"></a>
    <div class="container pt-1 vh" style="display: table;">
        <div style="display:table-cell; vertical-align: middle;">
        <div class="row">
            <div class="container text-center">
                <h1><b>The Bride and Groom</b></h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="container pb-5" style="font-size: 0.7em;">
                Some would say love at first sight is the most romantic love one could find, we say there is nothing
                like a locking eyes across the gym in your sweatiy gear to really get those sparks going. After months
                of being friends and training together for Tough Mudder, Dan got the courage to ask Maryam out on their
                first date, where he took her out in picturesque Guildford.<br><br> Fast forward a few years and he is down on
                one knee in one of the most romantic cities (and Maryam’s favourite city: Paris) in the world.<br><br> Romance for
                the two have blossomed into everlasting love.<br><br> Therefore, it is with our greatest pleasure that you join
                us in celebrating out love.<br><br>
            </div>
            <div class="container">
                <img class="figure-img img-fluid rounded family-image" alt="Maryam and Dan" src="{% static 'rsvp/img/both.JPG' %}"><br><br>
                <h2>Daniel Russell-Brain and Maryam Nahab</h2>
            </div>
        </div>
        </div>
    </div>
    <hr size="2">
    <a class="anchor" id="parents"></a>
    <div class="container pt-1 vh" style="display: table;">
        <div style="display:table-cell; vertical-align: middle;">
        <div class="row">
            <div class="container text-center">
                <h1><b>The Loving Parents</b></h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6">
                <H2>Mr & Mrs Nahab</H2>
                <img class="figure-img img-fluid rounded family-image" alt="Farouk and Amal" src="{% static 'rsvp/img/farouk_amal.jpg' %}">
            </div>
            <div class="col-6">
                <H2>Mr & Mrs Russell-Brain</H2>
                <img class="figure-img img-fluid rounded family-image" alt="Helen and Chris" src="{% static 'rsvp/img/helen_chris.jpg' %}">
                <p>In loving memory of Christopher Russell-Brain</p>
            </div>
        </div>
        </div>
    </div>
    <hr size="2">
    <a class="anchor" id="bridesmaids"></a>
    <div class="container pt-1 vh" style="display: table;">
        <div style="display:table-cell; vertical-align: middle;">
            <div class="row">
                <div class="container text-center pb-3">
                    <h1><b>The Bridesmaids and Bestm'n</b></h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <H2>Bridesmaids</H2>
                    <p>To make sure Maryam makes it down the aisle</p>
                </div>
                <div class="col">
                    <H2>Bestm'n</H2>
                    <p>To make sure Dan gets his suit on</p>
                </div>
                <div class="w-100"></div>
                    <div class="col pt-2 my-auto">
                        <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/cat.jpg' %}" alt="Cat">
                        <h3>Miss Catherine Grogan</h3>
                    </div>
                <div class="col pt-2 my-auto">
                    <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/jon.jpg' %}" alt="Jon">
                    <h3>Mr Jonathan Bleasby</h3>
                </div>
                <div class="w-100"></div>
                <div class="col pt-2 my-auto">
                    <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/kate.jpg' %}" alt="Kate">
                    <h3>Mrs Kate Prudence</h3>
                </div>
                <div class="col pt-2">
                    <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/mark.jpg' %}" alt="Mark">
                    <div class="container my-auto">
                        <h3>Mr Mark Austin</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr size="2">
    <a class="anchor" id="ushers"></a>
    <div class="container pt-1 vh" style="display: table;">
        <div style="display:table-cell; vertical-align: middle;">
                <div class="row pt-1">
                    <div class="container text-center">
                        <h1><b>The Ushers</b></h1><br>
                        <h3 style="font-size:.9em;">If you need any help on the day just look for one of these fine fellows</h3>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col">
                        <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/yousif.jpg' %}" alt="Yousif">
                        <h3>Mr Yousif Nahab</h3>
                    </div>
                    <div class="col">
                        <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/luke.jpg' %}" alt="Luke">
                        <h3>Mr Luke Kern</h3>
                    </div>
                    <div class="w-100"></div>
                    <div class="col pt-2 my-auto">
                        <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/robbie.jpg' %}" alt="Robbie">
                        <h3>Mr Robert Crawford</h3>
                    </div>
                    <div class="col pt-2">
                        <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/max.jpg' %}" alt="Max">
                        <h3>Mr Max Broadhurst-Jones</h3>
                    </div>
                </div>
        </div>
    </div>
    {% if user.groups.all.0.name == 'DayGuest' %}
    <hr size="2">
    <a class="anchor" id="kids"></a>
    <div class="container pt-1 vh" style="display: table;">
        <div style="display:table-cell; vertical-align: middle;">
                <div class="row pt-1">
                    <div class="container text-center">
                        <h1><b>Page Boys and Flower Girl</b></h1><br>
                        <h3 style="font-size:.9em;">Keeping us moving down the aisle</h3>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col">
                        <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/rhys.jpg' %}" alt="Rhys">
                        <h3>Rhys Griffiths</h3>
                    </div>
                    <div class="col">
                        <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/hugo.jpg' %}" alt="Hugo">
                        <h3>Hugo Griffiths</h3>
                    </div>
                    <div class="w-100"></div>
                    <div class="col pt-2 my-auto">
                        <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/oscar.jpg' %}" alt="Oscar">
                        <h3>Oscar Nahab</h3>
                    </div>
                    <div class="col pt-2">
                        <img class="figure-img img-fluid rounded party-image" src="{% static 'rsvp/img/scarlett.jpg' %}" alt="Scarlett">
                        <h3>Scarlett Nahab</h3>
                    </div>
                </div>
        </div>
    </div>
    {% endif %}
</div>
