<div class="container text-center pt-5 align-middle" style="height:90vh; display: table;">
    <div style="display: table-cell; vertical-align: middle;">
    <a class="anchor" id="main"></a>
    <h1><b>The Main Event</b></h1>
    It is our pleasure to invite you to the wedding of<br>
    <b class="event_headings">Miss Maryam Nahab</b><br>
    and<br>
    <b class="event_headings">Mr Daniel Russell-Brain</b><br>
    on the<br>
    <b class="event_headings">2<sup>nd</sup> May 2020 at 12:30pm</b><br>
    for the Ceremony to be held at<br>
    <b class="event_headings">St Thomas RC Church in Sevenoaks</b><br>
    followed by wedding breakfast and reception at<br>
    <b class="event_headings">The Spa Hotel in Tunbridge Wells</b><br><br>
    <h4 style="font-size:.8em;">Please be aware this will be an adults only event</h4>
    </div>
</div>