<div class="container text-center">
    <h1>FAQs</h1>
    <h2>If you're note sure, just ask!</h2>
</div>
<div class="container text-left">
    <ul>
        <li>Will It Be Cold?
            <ul>
                <li>
                    A: It's the beginning of May in the UK, your guess is as good as ours - maybe bring a jacket or shawl or sunglasses, but everything will be inside so you will be comfortable
                </li>
            </ul>
        </li>
        <li>
            What is the Dress Code?<ul>
            <li>
                A: Formal, so your best rags are required
            </li>
        </ul>
            <li>Are children on the guest list?
                <ul>
                    <li>Is little Timmy's name on the invite?</li>
                </ul>
        </li>
    </ul>
</div>