{% load static %}
<div class="container text-center pt-5">
    <a class="anchor" id="location"></a>
    <h1>Location</h1>
    <div class="container px-1">
        <div class="row">
            <div class="col-4 my-auto">
                <h2>The Ceremony</h2>
                <p>
                    St Thomas of Canterbury Catholic Church<br>
                    12 Granville Rd,<br>
                    Sevenoaks,<br>
                    TN13 1ER
                </p>
            </div>
            <div class="col-8 pt-3">
                <img src="{% static 'rsvp/img/church.jpg' %}" width="80%" alt="The Church">
            </div>
        </div>
    </div>
    <div class="container px-1">
        <div class="row">
            <div class="col-8 pt-3">
                <img src="{% static 'rsvp/img/hotel.jpg' %}" width="80%" alt="The Hotel">
            </div>
            <div class="col-4 my-auto">
                <h2>The Reception</h2>
                <p>
                    The Spa Hotel<br>
                    Langton Rd,<br>
                    Tunbridge Wells,<br>
                    TN4 8XJ
                </p>
            </div>
        </div>
    </div>
</div>
