{% load static %}
<a class="anchor" id="location"></a>
<div class="container pt-1 vh text-center" style="display: table;">
    <div style="display:table-cell; vertical-align: middle;">
        <h1><b>Location</b></h1>
        <div class="container px-1">
                    <a href="https://www.google.com/maps/place/The+Spa+Hotel/@51.1307338,0.2442338,17z/data=!3m1!4b1!4m8!3m7!1s0x47df444ef1fa521d:0xdafc4ce91591fcb5!5m2!4m1!1i2!8m2!3d51.1307305!4d0.2464278">
                        <img class="figure-img img-fluid rounded" src="{% static 'rsvp/img/hotel.jpg' %}" width="80%" alt="The Hotel">
                    </a>
                <br>
                    <h2>The Reception</h2><br>
                    <p>
                        The Spa Hotel<br>
                        Langton Rd,<br>
                        Tunbridge Wells,<br>
                        TN4 8XJ
                    </p>
        </div>
    </div>
</div>
