{% load static %}
<a class="anchor" id="location"></a>
<div class="container pt-1 vh text-center" style="display: table;">
    <div style="display:table-cell; vertical-align: middle;">
        <h1><b>Location</b></h1>
        <div class="container px-1">
            <div class="row">
                <div class="col-4 my-auto">
                    <h2>The Ceremony</h2>
                    <p>
                        St Thomas of Canterbury Catholic Church<br>
                        12 Granville Rd,<br>
                        Sevenoaks,<br>
                        TN13 1ER
                    </p>
                </div>
                <div class="col-8 pt-3">
                    <a href="https://www.google.com/maps/place/St+Thomas+of+Canterbury+R+C+Church/@51.272975,0.1862887,15z/data=!4m2!3m1!1s0x0:0xb75bd39cf667f50e?sa=X&ved=2ahUKEwiMwcTIw5XmAhVDilwKHfEcApIQ_BIwDXoECAsQCA">
                        <img class="figure-img img-fluid rounded" src="{% static 'rsvp/img/church.jpg' %}" width="80%" alt="The Church">
                    </a>
                </div>
            </div>
        </div>
        <div class="container px-1">
            <div class="row">
                <div class="col-8 pt-3">
                    <a href="https://www.google.com/maps/place/The+Spa+Hotel/@51.1307338,0.2442338,17z/data=!3m1!4b1!4m8!3m7!1s0x47df444ef1fa521d:0xdafc4ce91591fcb5!5m2!4m1!1i2!8m2!3d51.1307305!4d0.2464278">
                        <img class="figure-img img-fluid rounded" src="{% static 'rsvp/img/hotel.jpg' %}" width="80%" alt="The Hotel">
                    </a>
                </div>
                <div class="col-4 my-auto">
                    <h2>The Reception</h2>
                    <p>
                        The Spa Hotel<br>
                        Langton Rd,<br>
                        Tunbridge Wells,<br>
                        TN4 8XJ
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
