{% block content %}
<div class="container pt-5">
    <a class="anchor" id="menu"></a>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6 text-center">
            <h1>Menu</h1>
            <p>Please see the menu options below</br>
            You can make your selection in the RSVP area</p>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="container text-center menu">
            <h1>Starters</h1>
            <h2>Meat</h2>
            <p>Meat Starter goes here</p>
            <h2>Vegetarian</h2>
            <p>Vegetarian Starter goes here</p>
            <h1>Main</h1>
            <h2>Meat</h2>
            <p>Meat Main goes here</p>
            <h2>Vegetarian</h2>
            <p>Vegetarian Main goes here</p>
            <h1>Dessert</h1>
            <h2>Dessert 1</h2>
            <p>Dessert 1 goes here</p>
            <h2>Dessert 2</h2>
            <p>Dessert 2 goes here</p>
        </div>
    </div>
</div>
{% endblock %}
