{% block content %}
<a class="anchor" id="menu"></a>
<div class="container pt-1 vh text-center" style="display: table;">
    <div style="display:table-cell; vertical-align: middle;">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6 text-center pb-1">
                <h1><b>Menu</b></h1>
                Please see the menu options below</br>
                You can make your selection in the RSVP area
                <hr>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="container text-center menu">
                <h1>Starters</h1>
                Starter Option 1<br>
                Starter Option 2 (v)
                <hr>
                <h1>Main</h1>
                <p>Main Option 1</p>
                <p>Main Option 2 (v)</p>
                <hr>
                <h1>Dessert</h1>
                <p>Dessert 1 goes here</p>
                <p>Dessert 2 goes here</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
