{% block content %}
<a class="anchor" id="menu"></a>
<div class="container pt-1 vh text-center" style="display: table;">
    <div style="display:table-cell; vertical-align: middle;">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6 text-center pb-1">
                <h1><b>Menu</b></h1>
                You can make your selection in the RSVP area
                <hr>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="container text-center menu">
                <h1>Starters</h1>
                Free range Kentish ranger chicken terrine, shitake mushrooms, caramelised onions<br>
                <span style="font-size:.8em;">or</span><br>
                Heritage beetroot tart, pickled walnuts and Westcombe ricotta (V)
                <hr>
                <h1>Main</h1>
                Slow roast rump of beef, fondant potato, green beans and pancetta bacon<br>
                <span style="font-size:.8em;">or</span><br>
                Wild mushroom and goats cheese wellington salt baked roots (V)
                <hr>
                <h1>Dessert</h1>
                Milk and dark chocolate delice with cider and black
            </div>
        </div>
    </div>
</div>
{% endblock %}
