{% load static %}
{% load crispy_forms_tags %}
<a class="anchor" id="rsvp"></a>
<div class="container text-center pt-5 align-middle event" style="height:90vh; display: table;">
    <div style="display: table-cell; vertical-align: middle;">
        <h1><b>RSVP</b></h1><br>
        <div class="container px-1">
        <form method="post">
            {% csrf_token %}
            {{ form.management_form }}
            {{ form.non_form_errors }}
            {% for zip_form in forms %}
            <h2>{{ zip_form.1.first }} {{ zip_form.1.last }}</h2>{{ zip_form.0.id.as_hidden }}
            {{ zip_form.0.attending|as_crispy_field }}
            {{ zip_form.0.starter|as_crispy_field }}
            {{ zip_form.0.main|as_crispy_field }}
            {{ zip_form.0.dessert|as_crispy_field }}
            {{ zip_form.0.dietary|as_crispy_field }}
            <hr><br>
            {% endfor %}
            <input type="submit" value="RSVP">
        </form>
        </div>
    </div>
</div>